/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
1. Remove padding and margin
2. Nav Menu
2.1 Side bar
3. Content wrapper
4. Hompage Content
*/
/* line 17, ../sass/screen.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 24, ../sass/screen.scss */
.nav-menu {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  background: #181a1a;
}
/* line 31, ../sass/screen.scss */
.nav-menu--left {
  left: 0;
  top: 0;
  bottom: 0;
}
/* line 37, ../sass/screen.scss */
.nav-menu--right {
  position: fixed;
  right: 0;
  top: 0;
}
/* line 43, ../sass/screen.scss */
.nav-menu__logo {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  padding: 25px 0 0 0;
}
/* line 48, ../sass/screen.scss */
.nav-menu__logo img {
  height: 100px;
  width: auto;
}
/* line 54, ../sass/screen.scss */
.nav-menu__links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  color: #ffffff;
  flex-basis: 100%;
}
/* line 63, ../sass/screen.scss */
.nav-menu__links__item {
  padding: 10px 0 10px 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 72, ../sass/screen.scss */
.nav-menu__links__item:hover {
  background: #363838;
}
/* line 76, ../sass/screen.scss */
.nav-menu__links--pages {
  margin-top: 0;
}
/* line 80, ../sass/screen.scss */
.nav-menu__links--social {
  align-self: flex-end;
}

/* line 87, ../sass/screen.scss */
:hover > .sidebar {
  display: block;
}

/* line 91, ../sass/screen.scss */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50px;
  width: 300px;
  background: #ffffff;
  color: #181a1a;
  font-size: 20px;
  font-family: sans-serif;
}
/* line 103, ../sass/screen.scss */
.sidebar__section {
  box-sizing: border-box;
  width: 100%;
  padding: 25px 25px 25px 25px;
  font-size: 16px;
}
/* line 109, ../sass/screen.scss */
.sidebar__section h3 {
  font-size: 18px;
  line-height: 30px;
}
/* line 114, ../sass/screen.scss */
.sidebar__section p {
  margin: 0 0 25px 0;
  font-size: 14px;
}
/* line 119, ../sass/screen.scss */
.sidebar__section__list-item {
  padding-left: 5px;
  font-size: 14px;
  line-height: 23px;
}
/* line 125, ../sass/screen.scss */
.sidebar__section__list-item:before {
  content: "-";
  margin-right: 5px;
}
/* line 131, ../sass/screen.scss */
.sidebar__section--title {
  background: #ebebeb;
  color: black;
  font-size: 32px;
  line-height: 64px;
  padding: 6px 25px 6px 25px;
}

/* line 142, ../sass/screen.scss */
.wrapper {
  margin: 0 0 0 49px;
  width: calc(100vw - 49px);
  background: lightgray;
  padding: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 153, ../sass/screen.scss */
.landing {
  flex-basis: 100%;
  height: 100vh;
  background: url(../images/landing.png) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
/* line 164, ../sass/screen.scss */
.landing__logo-wrapper {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}
/* line 171, ../sass/screen.scss */
.landing__logo-wrapper .home-logo {
  height: 250px;
  width: 250px;
  background: rgba(0, 0, 0, 0.85);
  border: 0 solid gray;
  border-radius: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 181, ../sass/screen.scss */
.landing__logo-wrapper .home-logo img {
  width: 200px;
  height: auto;
}
/* line 188, ../sass/screen.scss */
.landing__tagline {
  align-self: flex-end;
}
/* line 191, ../sass/screen.scss */
.landing__tagline .down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  font-size: 50px;
  color: white;
}

/* line 204, ../sass/screen.scss */
.home-section {
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  box-sizing: border-box;
  padding: 50px;
}
/* line 214, ../sass/screen.scss */
.home-section__title {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  font-size: 32px;
}
/* line 222, ../sass/screen.scss */
.home-section__tagline {
  align-self: flex-start;
}
/* line 226, ../sass/screen.scss */
.home-section--half {
  flex-basis: 50%;
}
/* line 230, ../sass/screen.scss */
.home-section--full {
  flex-basis: 100%;
}
/* line 234, ../sass/screen.scss */
.home-section--furniture {
  background: url(../images/furniture.png) no-repeat center center;
  background-size: cover;
}
/* line 239, ../sass/screen.scss */
.home-section--fabric {
  background: url(../images/fabric.png) no-repeat center center;
  background-size: cover;
}
/* line 244, ../sass/screen.scss */
.home-section--custom {
  background: url(../images/custom.png) no-repeat center center;
  background-size: cover;
}
/* line 249, ../sass/screen.scss */
.home-section--cushions {
  background: url(../images/cushions.png) no-repeat center center;
  background-size: cover;
}
/* line 254, ../sass/screen.scss */
.home-section--workshops {
  background: url(../images/workshops.png) no-repeat center center;
  background-size: cover;
}
