<!-- BEGIN HOMEPAGE CONTENT -->
      <div class="landing">
        <div class="landing__logo-wrapper">
          <div class="home-logo">
            Logo
          </div>
        </div>
        <div class="landing__tagline">
          <div class="content">
            Filler text. Filler text. Filler text. Filler text. Filler text. Filler text.
          </div>
          <div class="down-arrow">
            <span class="fa fa-chevron-circle-down"></span>
          </div>
        </div>
      </div>
      <div class="section section--half section--furniture">
        <div class="section__title">
          <h1>Furniture & wares</h1>
        </div>
        <div class="section__tagline">
          <p>
            Filler text. Filler text. Filler text. Filler text. Filler text. Filler text.
          </p>
        </div>
      </div>
      <div class="section section--half section--fabric">
        <div class="section__title">
          <h1>Fabric</h1>
        </div>
        <div class="section__tagline">
          <p>
            Filler text. Filler text. Filler text. Filler text. Filler text. Filler text.
          </p>
        </div>
      </div>
      <div class="section section--full section--custom">
        <div class="section__title">
          <h1>Custom Made</h1>
        </div>
        <div class="section__tagline">
          <p>
            Filler text. Filler text. Filler text. Filler text. Filler text. Filler text.
          </p>
        </div>
      </div>
      <div class="section section--half section--cushions">
        <div class="section__title">
          <h1>Cushions & soft furnishings</h1>
        </div>
        <div class="section__tagline">
          <p>
            Filler text. Filler text. Filler text. Filler text. Filler text. Filler text.
          </p>
        </div>
      </div>
      <div class="section section--half section--workshops">
        <div class="section__title">
          <h1>Workshops</h1>
        </div>
        <div class="section__tagline">
          <p>
            Filler text. Filler text. Filler text. Filler text. Filler text. Filler text.
          </p>
        </div>
      </div>
<!-- END HOMEPAGE CONTENT -->
